<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:usesCleartextTraffic="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySpeakerControl">
        
        <!-- Connection/Pairing Screen - Now the launcher -->
        <activity
            android:name=".ConnectionActivity"
            android:exported="true"
            android:theme="@style/Theme.MySpeakerControl.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Main Control Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ConnectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectionActivity" />
        </activity>
        
        <!-- New Redesigned Main Activity -->
        <activity
            android:name=".MainActivityRedesign"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:parentActivityName=".ConnectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ConnectionActivity" />
        </activity>
        
        <activity
            android:name=".AppInfoActivity"
            android:label="App info"
            android:parentActivityName=".MainActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".DeviceInfoActivity" />
        
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        
        <activity
            android:name=".OtaActivity"
            android:label="Firmware Update"
            android:parentActivityName=".MainActivityRedesign">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityRedesign" />
        </activity>
    </application>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- For BLE scanning on Android 12+ (no location needed) -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" 
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    
    <!-- For modifying audio settings -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- For OTA firmware download -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- For older Android (API < 31) to allow BLE scanning -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        android:maxSdkVersion="30" />

    <!-- For Companion Device Manager (required for codec control on Android 16+) -->
    <uses-feature android:name="android.software.companion_device_setup" android:required="false" />

</manifest>



